/* ======================================
   自己的css样式
   ====================================== */
body {
    background: #fafafa;
}

/*header*/
header {
    height: 80px;
    width: 100%;
}

/*content*/
section {
    width: 100%;
}

#content {
    min-height: 500px;
    overflow: auto;
    width: 1136px;
    margin: 0 auto;
    padding: 47px 0;
}

/*content-partLeft*/
.content-partLeft {
    float: left;
    width: 260px;
}

.content-partLeft ul {
    margin: 0;
    padding: 0 13px;
    list-style: none;
    text-align: center;
    font-size: 14px;
    color: #4c4c4c;
}

.content-partLeft-nav {
    padding: 13px 0;
    background: #ffffff;
    border-bottom: 3px solid #e6e6e6;
}

.content-partLeft-nav ul {
    padding: 0;

}

.content-partLeft-nav ul li a {
    display: inline-block;
    color: #4c4c4c;
    width: 234px;
    background: url("../img/images/ac_content-partLeft_items_01.png") no-repeat left center;
    line-height: 49px;
    height: 49px;
    border-bottom: 1px solid #dcdcdc;
    text-decoration: none;
}

.content-partLeft-nav ul li a:hover {
    background: url("../img/images/ac_content-partLeft_items_01_hover.png") no-repeat left center;
    color: #34b4ef;
}

.content-partLeft-function {
    margin: 20px 0;
}

.content-partLeft-function ul {
    padding: 0;
    color: #ffffff;
}

.content-partLeft-function ul li {
    margin: 0 0 5px;
    padding: 0 13px;
    height: 57px;
    line-height: 57px;
    background: #34b4ef url("../img/images/ac_content-partLeft_items_02.png") no-repeat left center;
    border-bottom: 3px solid #1f9aea;
}

.content-partLeft-function ul li a {
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    height: 57px;
    width: 234px;
    line-height: 57px;
}

.content-partLeft-topicList {
    overflow: auto;
    padding: 13px;
    background: #ffffff;
}

.content-partLeft-topicList h1 {
    font-size: 14px;
    color: #808080;
}

.content-partLeft-topicList a {
    margin: 8px;
    padding: 0 10px;
    display: inline-block;
    float: left;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    color: #ffffff;
    background: #34b4ef;
    border-radius: 5px;
    text-decoration: none;
}

/*content-partRight*/
.content-partRight {
    width: 776px;
    margin: 0 0 0 50px;
    background: #ffffff;
    float: right;
    padding: 25px;
}

.content-partRight-header {
    position: relative;
    font-size: 14px;
    color: #808080;
}

.content-partRight-header a {
    margin: 8px;
    padding: 0 10px;
    display: inline-block;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    color: #ffffff;
    background: #34b4ef;
    border-radius: 5px;
    text-decoration: none;
}

.content-partRight-header-search {
    position: absolute;
    right: 3px;
    top: 10px;
}

.content-partRight-content {

}

.content-partRight-content-menu {

}
.content-partRight-content-menu ul{
    line-height: 50px;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 50px;
    border-bottom: 1px solid #eaeaea;
}
.content-partRight-content-menu li{
    height: 48px;
    color: #808080;
    float: left;
    font-size: 14px;
    padding: 0 25px;
}
.content-partRight-content-menu li.current{
    color: #028ad6;
    border-bottom: 3px solid #028ad6;
}
.content-partRight-content-menu li:hover{
    color: #028ad6;
}
.content-partRight-content-detail{

}
.detail-position{
    border-bottom: 1px solid #ebecec;
    position: relative;
    padding: 0 90px;
}
.detail-newest-partLeft{
    text-align: center;
    position: absolute;
    width: 60px;
    left: 20px;
    top: 10px;
}
.detail-newest-partLeft img{
    border-radius: 25px;
    display: inline-block;
    height: 50px;
    width: 50px;
}
.detail-newest-partLeft p{
    font-size: 10px;
    color: #808080;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: keep-all;
}
.detail-newest-partMiddle{
    min-height: 140px;
}
.detail-newest-partRight{
    padding: 10px 0;
    position: absolute;
    width: 90px;
    right: 0;
    bottom: 0;
}
.detail-newest-partRight-count{
    font-size: 10px;
    color: #808080;
    float: left;
    height: 30px;
    text-align: center;
    width: 40px;
}
.detail-newest-partRight-count .answerNumber{
    margin: 0 0 2px;
    color: #028ad6;
}
/*footer*/
footer {
    height: 123px;
    background-image: none;
}
