/*----------------------------------
*作用：该样式文件用来存放某一个板块共同的样式
*作者:杨文鹏
*联系:15353723247
*时间：14-6-2
-----------------------------------*/

/* ==========================================================================
   Base styles: 自定义的浏览器默认样式
   ========================================================================== */
html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * 定义被选中的字体颜色
 */
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 *设置一个水平线的默认样式
 */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * 垂直居中
 */
audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 *对fieldset的样式进行初始化
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * 设定文本输入框的形式.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   浏览器提醒升级
   ========================================================================== */
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   自定义的公共样式
   ========================================================================== */
body {
    font-family: "Microsoft Yahei", "微软雅黑", Tahoma, Arial, STHeiti, sans-serif;
}

/*header*/
header {
    letter-spacing: 3px;
    height: 558px;
    width: 100%;
    background: #005599 url("../img/images/ih_bg_01.png") no-repeat top center;
}

.topBar {
    height: 80px;
    width: 100%;
    background: url("../img/images/ih_topbar_bg.png") repeat-x 0 0;
}

nav {
    width: 1136px;
    margin: 0 auto;
    position: relative;
}

.logo {
    float: left;
    margin: 0 0 0 15px;
    height: 80px;
    line-height: 80px;
}

.navHeader {
    float: left;
    font-size: 0;
    margin-left: 40px;
    position: relative;
}

.navHeader li {
    display: inline-block;
    height: 60px;
    margin: 0;
    padding: 0 70px 0 0;
    position: relative;
    z-index: 3;
}

.navHeader li.current {
    z-index: 1;
}

.navHeader li a {
    color: #b3b3b3;
    float: left;
    font-size: 18px;
    font-weight: normal;
    height: 77px;
    line-height: 80px;
    text-decoration: none;
}

.navHeader li.current a {
    border-bottom: 3px solid #028ad6;
    color: #ffffff;
}

.navHeader li a:hover {
    color: #ffffff;
}

header .loginTop {
    list-style: none outside none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    right: 0;
    top: 10px;
}

header .loginTop li {
    float: left;
    height: 22px;
    padding: 4px 0;
}

header .loginTop a {
    text-decoration: none;
    color: #b2b2b2;
    padding: 0 6px;
    font-size: 14px;
}

header .loginTop a:hover {
    color: #ffffff;
}

.header-button {
    width: 213px;
    margin: 294px auto 0;
    height: 47px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    text-align: center;
}

.header-button a {
    display: inline-block;
    width: 213px;
    height: 47px;
    font-size: 24px;
    line-height: 47px;
    color: #ffffff;
    text-decoration: none;
}
/*footer*/
footer {
    width: 100%;
    height: 414px;
    background: url("../img/images/if_bg_01.png") no-repeat top center;
    position: relative;
}

.bottomBar {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 123px;
    width: 100%;
    background: url("../img/images/ih_topbar_bg.png") repeat 0 0;
}

.bottomBar p {
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-size: 18px;
}

.navFooter {
    margin: 0;
    padding: 5px 0 0 5px;
}

.navFooter li {
    display: inline-block;
    height: 60px;
    margin: 0;
    padding: 0 63px 0 0;
}

.navFooter li a {
    color: #ffffff;
    float: left;
    font-size: 18px;
    font-weight: normal;
    height: 77px;
    line-height: 80px;
    text-decoration: none;
}

.navFooter li a:hover {
    color: #b3b3b3;
}

.footer-button {
    position: relative;
    width: 213px;
    height: 47px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    text-align: center;
    top: 200px;
    left: 49%;
}

.footer-button a {
    display: inline-block;
    width: 213px;
    height: 47px;
    font-size: 24px;
    line-height: 47px;
    color: #ffffff;
    text-decoration: none;
}
